@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
  text-decoration: none;
  scroll-behavior: smooth;
  /* this is what allows me to navigate smoothly */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --teal: #4ECDC4;
  --darkblue: #1A535C;
  --white: #F7FFF7;
  --black: #282442;
}

/* Start for web page CSS */
.container {
  box-sizing: content-box;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
}

/* NavBar CSS */
.navbar {
  position: sticky;
  display: flex;
  top: 0;
  background-color: var(--darkblue);
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  height: 8vh;
  box-shadow: 0 0 4em 0 var(--black);
  z-index: 1000;
}

.navbar .name__container {
  position: relative;
  display: inline;
  width: 100%;
  font-size: 4vh;
  font-weight: lighter;
  margin-left: 0.2em;
}

.navbar .name__container p {
  color: var(--white);
}

.navbar .name__container span {
  color: var(--teal);
}

.navbar .socials {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
}

.navbar .social__item {
  position: relative;
  flex-basis: auto;
  width: 44px;
  margin: 10px;
  transition: margin-top 0.3s;
}

.navbar .socials .social__item:hover {
  margin-top: 5px;
}

.navbar .header__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .social__item svg:hover {
  fill: var(--white);
}
/* NavBar CSS */

/* Landing Page CSS */
.intro__container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 98vh;
  overflow: hidden;
}

.intro__container .text__container {
  display: inline;
  position: relative;
}

.intro__container .text__container p {
  opacity: 0;
  font-size: 9vh;
  color: var(--black);
}

.intro__container .text__container span {
  opacity: 0;
  color: var(--teal);
}

.btn__container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 3vh;
  width: 100%;
  margin: 1em;
}

.btn__container#landPage{
  opacity: 0;
}

.btn__container .navBtn {
  width: 27vh;
  height: 5vh;
  border: solid;
  border-color: var(--teal);
  cursor: pointer;
  text-align: center;
  font-size: 4vh;
}::after{
  text-decoration: none;
}

/* Landing Page CSS */

/* About me CSS */
.bio__container {
  background-color: var(--darkblue);
  color: var(--white);
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.bio__container .bio__header {
  width: 100%;
  text-align: center;
}

.bio__container .bio__header h1 {
  font-size: 6vh;
  text-transform: uppercase;
}

.bio__container .bio__content {
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.bio__container .bio__content .img__container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.bio__container .bio__content .bio__text {
  font-size: 1.1em;
  margin: 0 0 1em 1em;
}
/* About me CSS */

/* Projects */
.projects__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-sizing: border-box;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.projects__header {
  text-align: center;
  font-size: 2vh;
}

.projects__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.project__item {
  margin: 1em;
}

.project__about {
  display: flex;
  flex-direction: column;
}

.project__title {
  text-align: left;
}

.list__container {
  margin: 1em;
}

.list {
  line-height: 1.4em;
  list-style: circle;
  margin-left: 1.2em;
}

.project__links {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 4em;
}

.link__item {
  display: flex;
  justify-content: center;
  text-align: center;
}

.src__container {
  font-size: 1.3em;
  font-weight: 550;
  display: flex;
  align-items: center;
}

.src__container a {
  color: var(--teal);
}

/* Projects */


/* animations */
.fillLeft {
  color: var(--teal);
  background: linear-gradient(to left, var(--white) 50%, var(--teal) 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}
.fillLeft:hover {
  color: var(--white);
  background-position: left;
}

.fadein {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;;
  -moz-animation: fadeIn ease 2s;;
  -o-animation: fadeIn ease 2s;;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.slideleft {
  animation: slideLeft ease 2s;
  -webkit-animation: slideLeft ease 2s;;
  -moz-animation: slideLeft ease 2s;;
  -o-animation: slideLeft ease 2s;;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slideLeft {
  100% { transform: translateX(0%); }
}
@-moz-keyframes slideLeft {
  100% { transform: translateX(0%); }
}
@-o-keyframes slideLeft {
  100% { transform: translateX(0%); }
}
@keyframes slideLeft {
  100% { transform: translateX(0%); }
}


.delay1s {
  animation-delay: 1s;
}

.delay3s  {
  animation-delay: 3s;
}

.delay5s {
  animation-delay: 5s;
}

.delay7s {
  animation-delay: 7s;
}

/* animations */


/* media queries */
@media only screen and (max-width: 670px) {
  .navbar {
    height: 7em;
    flex-direction: column;
  }

  .navbar .name__container {
    margin-top: 0.2em;
    width: 66%;
  }

  .navbar .socials {
    justify-content: space-around;
  }

  .navbar .social__item svg {
    width: 2em;
    height: 2em;
  }

  .bio__container .bio__content {
    flex-direction: column;
  }

  .bio__container .bio__content .bio__text {
    margin: 1em;
  }
}

@media only screen and (max-width: 375px) {

  .intro__container {
    min-height: 85vh;
  }

  .intro__container .text__container p {
    font-size: 2.5em;
  }

  .navbar .name__container {
    display: none;
  }

  .navbar .socials {
    align-items: center;
    top: 50%;
    height: 6em;
    margin-top: -3em;
  }
  .navbar .socials .social__item svg {
    width: 3em;
    height: 3em;
  }
}


